.cardInput{
    float: right;
    width: 120px;
}

.btnArea{
    text-align: center;
}

.cardBtn{
    font-size: 20px;
    display: inline-block;
}

.addCard{
    width:400px;
    border-radius: 20px;
    margin: 30px auto;
}

