.cardInput {
    float: right;
    width: 140px;
}

.btnArea {
    text-align: center;
}

.btnArea>.cardBtn {
    font-size: 20px;
    display: inline-block;
    margin: 10px !important;

}

.addCard {
    width: 360px;
    border-radius: 20px;
    margin: 10px auto;
    margin-top: 130px;
}

.page {
    font-size: 17px;
    height: 900px;
}

.checkbox_area {
    display: inline-block;
}

.selectBtn {
    display: flex;
    justify-content: space-around;
}