.pillCard {
    width: 18rem;
    border-radius: 20px;
    margin: 30px auto;
}

.cardBtn {
    margin: 5px;
}

.addBtn {
    font-size: 20px;
    margin: auto;
    display: block;
}

.page {
    height: 900px;
}

.page2 {
    background-color: rgb(255, 238, 205);
}