.UserEditor {
    width: 350px !important;
}

.UserEditor span {
    margin-top: 1rem;
    margin-left: 7%;
}


.UserEditor label {
    margin-right: 10px;
    font-size: 16px;
}

.UserEditor form {
    text-align: left !important;
}

.UserEditor input {
    padding-bottom: 5px;
    text-align: left !important;
    border: none;
    border-bottom: 3px solid black;
    outline: none;
    background: none;
    font-size: medium;
    font-weight: 600;
    width: 200px !important;
}

.UserEditor textarea {
    padding: 10px;
    height: 200px;
    width: 100% !important;
    border: 3px solid #2fbe9f;
    border-radius: 20px;

}

.UserEditor select {
    width: 300px;
    padding: 10px;
    margin-bottom: 20px;
}

.UserEditor button {
    width: 60px;
    cursor: pointer;
    height: 30px;
    background-color: orange;
    border: none;
    border-radius: 10px;
    color: #ececec;
    font-weight: 600;
}

.title {
    text-align: center;
    font-weight: 600;
    font-size: 40px;
    color: gray;
}


.userFlex {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}


h2 {
    text-align: left;
}

.btns {
    text-align: right;


}

.saveBtn {
    background-color: #2fbe9f;
    border: none;
    border-radius: 10px;
    color: #ececec;
    font-weight: 600;
}

.deleteBtn {
    background-color: #fd565f;
    border: none;
    border-radius: 10px;
    color: #fff;
    font-weight: 600;
}

.message {
    font-weight: 500;
    font-size: 0.8rem;
    line-height: 24px;
    letter-spacing: -1px;
    top: 50%;
    position: absolute;


}

.modify {
    font-weight: 500;
    font-size: 0.8rem;
    line-height: 24px;
    letter-spacing: -1px;
    width: 2%;
    top: 128%;
    right: 18%;
    position: absolute;
}

.modify2 {
    font-weight: 500;
    font-size: 0.8rem;
    line-height: 24px;
    letter-spacing: -1px;
    width: 2%;
    top: 98%;
    right: 18%;
    position: absolute;


}


.success {
    display: none;
}

.error {
    color: #fd565f;
}

.userDelBtn {
    display: flex !important;
    justify-content: flex-start !important;
    text-align: none !important;
    background: transparent !important;
}

.userDelBtn button {
    width: 60px;
    cursor: pointer;
    height: 30px;
    background-color: rgb(255, 0, 0);
    border: none;
    border-radius: 10px;
    color: #fff;
    font-weight: 600;
    font-size: 12px;

}