.image {
    width: 150px;
    float: left;
    margin-right: 30px;
    margin-top: 10px;
}

.pillname:hover {
    cursor: pointer;
}

.selected {
    color: orange;
    border-bottom: 5px solid orange;
}

.rankCard {
    height: 250px;
    background-color: #98e0ff;
}